@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    The Netherlands<br />
    Almere<br />
    <abbr title="Phone">P: Phone number here</abbr>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:donnyysmit@gmail.com">Email here</a>
</address>